/* You can add global styles to this file, and also import other style files */
a {
	cursor: pointer;
	cursor: hand;
}

body {
	height: 100%;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: small;
}

.button {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
}

html {
	height: 100%;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: small;
}

ul.inventory {
	list-style-type: none;
}


.badgevmdata {
	font-size: 11px;
	border-width: 1px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.badge {
	width: 100%;
	outline-color: black;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	color: white;
	padding: 0.3em 0.7em 0 0.7em;
	background-color: #0095cd;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.badge_inUseStatus {
	width: 100%;
	outline-color: black;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	color: white;
	padding: 0.3em 0.7em 0 0.7em;
	background-color: #0095cd;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.badge_addedStatus {
	width: 100%;
	outline-color: black;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	color: white;
	padding: 0.3em 0.7em 0 0.7em;
	background-color: #D4AF37;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.badge_decommissioned {
	width: 100%;
	outline-color: black;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	color: white;
	padding: 0.3em 0.7em 0 0.7em;
	background-color: #A9A9A9;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.badge_registered {
	width: 100%;
	outline-color: black;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	color: white;
	padding: 0.3em 0.7em 0 0.7em;
	background-color:  #D4AF37;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.badge_configured {
	width: 100%;
	outline-color: black;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	color: white;
	padding: 0.3em 0.7em 0 0.7em;
	background-color: #0095cd;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.badgeDetail {
	font-size: 11px;
	border-width: 1px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.banner {
	background-color:#A9A9A9;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
	height: 25px;
    left: 0;
	padding: 5px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
	z-index: 9999;
}
.card-container {
    width:85%;
}

.card {
    background-color:#fff;
    border: 1px solid #d4d4d4;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
	overflow-y: auto;
}

.card-header_active {
    background-color:#0095cd;
    font-size:8pt;
    color:white;
    padding:5px;
    width:100%;
}
.card-header_inActive {
    background-color: #D4AF37;
    font-size:8pt;
    color:white;
    padding:5px;
    width:100%;
}
.card-close {
    color: white;
    font-weight:bold;
    margin-right:5px;
}

.card-body {
    padding-left: 5px;
}

.card-body-left {
    margin-top: -5px;
}

.card-body-right {
    margin-left: 20px;
    margin-top: 2px;
}

.card-body-content {
    width: 100px;
}

.card-image {
    height:50px;
	width:50px;
	margin-top:10px;
}


.chart {
	display: block;
	width: 100%;}

.column-left {
	float: left;
	width: 20%;
}

.column-center {
	float: left;
	width: 45%;
}

.column-right {
	float: right;
	width: 35%;
}
.details-image {
    height:100px;width:100px;margin-top:10px;
}
.fineprint {
	font-family: arial, sans-serif;
	font-size: 10px;
}


.footer {
    background-color: #5690ad;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
	font-size: small;
    left: 0;
    max-height: 25px;
    padding: 5px;
	position: fixed;
	right: 0;
    text-align: center;
	z-index: 9999;
}

/* Inventory List Style */
li.noimage {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-position:0 0 0 0px;
	background-repeat: no-repeat;
	padding-left: 2.5em;
	padding-bottom: 1em;
	margin: 3px 0;
	line-height: 90%;
}

.form input[type='text'], 
.form input[type='number'],
.form input[type='email'],
.form select {
    width:100%;
}

.form .ng-invalid {
  border-left: 5px solid #a94442;
}

.form .ng-valid {
  border-left: 5px solid #42A948;
}
.form-group {
	width:80%;
	/*width: 20em;*/
}
.grid-container  div {
    padding-left: 0px;
}

.grid-container td {
    vertical-align: middle;
}

.grid-image {
    height:50px;width:50px;margin-top:10px;
}
.main .row{
	padding: 0px;
	margin: 0px;
}


/* Add gap to nav and right windows.*/
.main {
	padding: 10px 10px 10px 10px;
}
.white {
    color: white;
}

.white:hover {
    color: white;
}
